:root[data-theme='light'] {
  --search-results-header-font-color: var(--palette-gray-1, #1e222a);
}

:root[data-platform='web-desktop'] {
  --search-results-header-margin-top: var(--whiteSpace-general-3x, 24px);
  --search-results-header-font-size: var(--font-size-xl, 20px);
}

:root[data-platform='web-tablet'] {
  --search-results-header-margin-top: var(--whiteSpace-general-3x, 24px);
  --search-results-header-font-size: var(--font-size-xl, 20px);
}

:root[data-platform='web-mobile'] {
  --search-results-header-margin-top: var(--whiteSpace-general-3x, 24px);
  --search-results-header-font-size: var(--font-size-xl, 20px);
}

/* special media requests for searchResults__card */

@media (width >= 2560px) {
  :root[data-platform='web-desktop'] {
    --search-results-card-width: calc(33% - var(--flex-gap-2xl, 24px));
  }
}

@media (width < 2560px) {
  :root[data-platform='web-desktop'] {
    --search-results-card-width: calc(50% - var(--flex-gap-2xl, 24px));
  }
}

@media (width < 1440px) {
  :root[data-platform='web-tablet'] {
    --search-results-card-width: calc(50% - var(--flex-gap-2xl, 24px));
  }
}

@media (width < 1280px) {
  :root[data-platform='web-tablet'] {
    --search-results-card-width: 100%;
  }
}

@media (width < 900px) {
  :root[data-platform='web-mobile'] {
    --search-results-card-width: calc(50% - var(--flex-gap-2xl, 24px));
  }
}

@media (width < 667px) {
  :root[data-platform='web-mobile'] {
    --search-results-card-width: 100%;
  }
}
