.galleryFooter__header {
  width: 100%;
}

.galleryFooter__title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--palette-gray-1, #1e222a);
  font-family: var(--font-family, Poppins);
  font-size: var(--font-size-l, 16px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--size-general-2_5x, 20px);
}

.galleryFooter__type {
  color: var(--palette-gray-2, #747e97);
  font-family: var(--font-family, Poppins);
  font-size: var(--font-size-m, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--size-general-2_5x, 20px);
}
