:root[data-theme='light'] {
  --search-result-gallery-title-font-color: var(--palette-gray-1, #1e222a);
  --search-result-gallery-type-font-color: var(--palette-gray-2, #747e97);
}

:root[data-platform='web-desktop'] {
  --search-result-gallery-title-font-size: var(--font-size-l, 16px);
  --search-result-gallery-type-font-size: var(--font-size-m, 14px);
  --search-result-gallery-line-height: var(--size-general-2_5x, 20px);
}
