:root[data-theme='light'] {
  --dnd-area-border-color: var(--palette-primary-60B, #085cff);
  --dnd-area-active-border-color: var(--palette-primary-90, #0640b3);
  --dnd-area-icon-color: var(--palette-primary-60B, #085cff);
  --dnd-area-active-icon-color: var(--palette-primary-90, #0640b3);
  --dnd-area-background-color: color-mix(
    in srgb,
    var(--palette-primary-60B, #085cff) 8%,
    transparent
  );
  --dnd-area-active-background-color: color-mix(
    in srgb,
    var(--palette-primary-90, #0640b3) 20%,
    transparent
  );
  --dnd-area-info-color: var(--palette-gray-1, #1e222a);
}

:root[data-platform='web-desktop'],
:root[data-platform='web-tablet'],
:root[data-platform='web-mobile'] {
  --dnd-area-border-radius: var(--borderRadius-general-4x, 16px);
  --dnd-area-padding: var(--size-general-8x, 64px)
    var(--size-general-16x, 128px) var(--size-general-4x, 32px)
    var(--size-general-16x, 128px);
  --dnd-area-info-font-size: var(--font-size-l, 16px);
  --dnd-area-description-font-size: var(--font-size-s, 12px);
}
