.page {
  box-sizing: border-box;
  padding-right: var(--page-padding-horizontal, 20px);
  padding-left: var(--page-padding-horizontal, 20px);
}

.pageTitle {
  margin: var(--page-title-margin, 20px) 0;
}
