:root[data-theme='light'] {
  --image-upload-progress-background-color: var(--palette-gray-4, #f4f5f7);
  --image-upload-progress-value-color: var(--palette-active-60B, #0075ff);
  --image-upload-progress-border-color: var(--palette-active-20, #a3daff);
  --image-upload-progress-info-font-color: var(--palette-gray-4, #f4f5f7);
  --image-upload-progress-tint-color: var(--palette-black, #000);
  --image-upload-progress-fail-font-color: var(
    --palette-semantic-error-60B,
    #dc2020
  );
}

:root[data-platform='web-desktop'],
:root[data-platform='web-tablet'],
:root[data-platform='web-mobile'] {
  --image-upload-progress-info-font-size: var(--font-size-m, 16px);
}
