.locationModalContainerMap {
    flex-basis: var(--location-modal-map-flex-basis, 60%);
}

.locationModalContainerInfo {
    flex-basis: var(--location-modal-info-flex-basis, 40%);
    min-height: calc(100vh - 4 * var(--header-height));
    max-height: calc(100vh - 3 * var(--header-height));
    overflow-y: auto;
}

.image {
    border-radius: var(--location-modal-image-border-radius);
}

.gallery {
    width: 100%;
}

.locationModalContainerInfo .review {
    width: 100%;
    background-color: var(--location-modal-review-background-color);
    box-sizing: border-box;
}