.galleryHeader {
  width: 100%;
}

.galleryTitle {
  overflow: hidden;
  font-family: var(--font-family, Poppins);
  font-size: var(--search-result-gallery-title-font-size, 16px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--search-result-gallery-line-height, 20px);
  color: var(--search-result-gallery-title-font-color, #1e222a);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.galleryLink {
  color: var(--search-result-gallery-title-font-color, #1e222a);
  text-decoration: none;
}

.galleryType {
  font-family: var(--font-family, Poppins);
  font-size: var(--search-result-gallery-type-font-size, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--search-result-gallery-line-height, 20px);
  color: var(--search-result-gallery-type-font-color, #747e97);
}

.bookmark {
  color: var(--search-result-gallery-bookmark-color, #747e97);
}
