:root[data-platform='web-desktop'] {
  --signin-dropdown-padding-vertical: 10px;
}

:root[data-platform='web-tablet'] {
  --signin-dropdown-padding-vertical: 10px;
}

:root[data-platform='web-mobile'] {
  --signin-dropdown-padding-vertical: 10px;
}
