:root[data-platform='web-desktop'] {
  --update-location-container-height: calc(80vh - var(--header-height));
  --update-location-container-grid: 1fr / repeat(24, 1fr);
  --update-location-map-container-grid-col: 1 / span 15;
  --update-location-form-container-grid-col: 16 / span 9;
  --update-location-map-container-grid-row: 1 / span 24;
  --update-location-form-container-grid-row: 1 / span 24;
  --upload-location-map-container-border-radius: var(--borderRadius-general-4x);
  --update-location-form-container-padding-vertical: 0;
  --update-location-form-container-padding-horizontal: 0;
  --upload-location-form-width: 1200px;
  --update-location-image-preview-width: 128px;
  --update-location-image-preview-height: 128px;
  --update-location-image-preview-border-radius: var(--borderRadius-general-4x);
  --update-location-set-point-button-margin-bottom: var(
    --whiteSpace-general-4x
  );
}

:root[data-platform='web-tablet'] {
  --update-location-container-height: calc(80vh - var(--header-height));
  --update-location-container-grid: 1fr / repeat(24, 1fr);
  --update-location-map-container-grid-col: 1 / span 15;
  --update-location-form-container-grid-col: 16 / span 9;
  --update-location-map-container-grid-row: 1 / span 24;
  --update-location-form-container-grid-row: 1 / span 24;
  --upload-location-map-container-border-radius: var(--borderRadius-general-4x);
  --update-location-form-container-padding-vertical: 0;
  --update-location-form-container-padding-horizontal: 0;
  --upload-location-form-width: calc(
    100vw - var(--page-container-padding, 24px) -
      var(--page-container-padding, 24px) -
      var(--gallery-container-border-radius, 1.25rem)
  );
  --update-location-image-preview-width: 128px;
  --update-location-image-preview-height: 128px;
  --update-location-image-preview-border-radius: var(--borderRadius-general-4x);
  --update-location-set-point-button-margin-bottom: var(
    --whiteSpace-general-4x
  );
}

:root[data-platform='web-mobile'] {
  --update-location-container-height: auto;
  --update-location-container-grid: 1fr 1fr / 1fr;
  --update-location-map-container-grid-col: 1 / 1;
  --update-location-form-container-grid-col: 1 / 1;
  --update-location-map-container-grid-row: 2 / 2;
  --update-location-form-container-grid-row: 1 / 1;
  --upload-location-map-container-border-radius: var(--borderRadius-general-4x);
  --update-location-form-container-padding-vertical: var(
    --gallery-container-border-radius,
    1.25rem
  );
  --update-location-form-container-padding-horizontal: 0;
  --upload-location-form-width: calc(
    100vw - var(--page-container-padding, 16px) -
      var(--page-container-padding, 16px)
  );
  --update-location-image-preview-width: 128px;
  --update-location-image-preview-height: 128px;
  --update-location-image-preview-border-radius: var(--borderRadius-general-4x);
  --update-location-set-point-button-margin-bottom: var(
    --whiteSpace-general-4x
  );
}

:root[data-theme='light'] {
  --update-location-map-marker-color: var(--palette-semantic-error-80);
  --update-location-loading-icon-color: var(--palette-active-10);
}
