:root[data-platform='web-desktop'] {
  --upload-location-gallery-button-border-radius: var(
    --border-radius-2xl,
    16px
  );
  --upload-location-gallery-button-box-shadow: 0px 16px 16px -4px rgba(12, 12, 13, 0.1),
    0px 4px 4px -4px rgba(12, 12, 13, 0.05);
  --upload-location-gallery-button-display: block;
  --upload-location-gallery-button-right: var(--size-general-2_5x);
  --upload-location-gallery-button-left: var(--size-general-2_5x);
}

:root[data-platform='web-tablet'] {
  --upload-location-gallery-button-border-radius: var(
    --border-radius-2xl,
    16px
  );
  --upload-location-gallery-button-box-shadow: 0px 16px 16px -4px rgba(12, 12, 13, 0.1),
    0px 4px 4px -4px rgba(12, 12, 13, 0.05);
  --upload-location-gallery-button-display: block;
  --upload-location-gallery-button-right: var(--size-general-2_5x);
  --upload-location-gallery-button-left: var(--size-general-2_5x);
}

:root[data-platform='web-mobile'] {
  --upload-location-gallery-button-border-radius: var(
    --border-radius-2xl,
    16px
  );
  --upload-location-gallery-button-box-shadow: 0px 16px 16px -4px rgba(12, 12, 13, 0.1),
    0px 4px 4px -4px rgba(12, 12, 13, 0.05);
  --upload-location-gallery-button-display: none;
  --upload-location-gallery-button-right: var(--size-general-2_5x);
  --upload-location-gallery-button-left: var(--size-general-2_5x);
}
