.galleryWrapper {
  max-width: 100%;
}

.galleryWrapper .nextButton,
.galleryWrapper .prevButton {
  position: fixed;
  border-radius: var(--upload-location-gallery-button-border-radius, 16px);
  box-shadow: var(
    --upload-location-gallery-button-box-shadow,
    0 16px 16px -4px rgb(12 12 13 / 10%)
  );
}

.galleryWrapper .nextButton {
  right: var(--upload-location-gallery-button-right, 20px);
  display: var(--upload-location-gallery-button-display, auto);
}

.galleryWrapper .prevButton {
  left: var(--upload-location-gallery-button-left, 20px);
  display: var(--upload-location-gallery-button-display, auto);
}
