:root[data-platform='web-desktop'] {
  --menu-dropdown-padding-vertical: 22px;
}

:root[data-platform='web-tablet'] {
  --menu-dropdown-padding-vertical: 22px;
}

:root[data-platform='web-mobile'] {
  --menu-dropdown-padding-vertical: 22px;
}
