.menu {
  cursor: pointer;
}

.dropdownWrapper div div:has(.menuDropdownContainer.top) {
  top: calc(100% + var(--menu-dropdown-padding-vertical, 25px));
}

.menuDropdownContainer.top {
  pointer-events: auto;
}
