:root[data-theme='light'] {
  --location-set-scrollbar-color: var(--palette-gray-3, #babecb);
}

:root[data-platform='web-desktop'] {
  --location-set-flex-direction: row;
  --location-set-wrapper-gap: var(--whiteSpace-general-3x, 1.5rem);
  --location-set-wrapper-height: calc(80vh - var(--header-height, 80px));
  --location-set-child-container-width: calc(
    50% - var(--location-set-wrapper-gap, 1.5rem) / 2
  );
  --location-set-map-height: 100%;
  --location-set-setcontainer-padding: var(--whiteSpace-general-1x, 0.5rem);
}

:root[data-platform='web-tablet'] {
  --location-set-flex-direction: row;
  --location-set-wrapper-gap: var(--whiteSpace-general-3x, 1.5rem);
  --location-set-wrapper-height: calc(80vh - var(--header-height, 80px));
  --location-set-child-container-width: calc(
    50% - var(--location-set-wrapper-gap, 1.5rem) / 2
  );
  --location-set-map-height: 100%;
  --location-set-setcontainer-padding: var(--whiteSpace-general-1x, 0.5rem);
}

:root[data-platform='web-mobile'] {
  --location-set-flex-direction: column;
  --location-set-wrapper-gap: var(--whiteSpace-general-3x, 1.5rem);
  --location-set-wrapper-height: 100%;
  --location-set-child-container-width: 100%;
  --location-set-map-height: 50vh;
  --location-set-setcontainer-padding: var(--whiteSpace-general-1x, 0.5rem);
}
