.wrapper {
  display: flex;
  flex-direction: var(--location-set-flex-direction, row);
  gap: var(--location-set-wrapper-gap, 24px);
  width: 100%;
  height: var(
    --location-set-wrapper-height,
    calc(80vh - var(--header-height, 80px))
  );
}

.mapContainer {
  width: var(--location-set-child-container-width, calc(50% - 1.5rem / 2));
  height: var(--location-set-map-height, 100%);
  overflow: hidden;
  border-radius: var(--location-modal-map-border-radius, 16px);
}

.setContainer {
  box-sizing: border-box;
  width: var(--location-set-child-container-width, calc(50% - 1.5rem / 2));
  height: 100%;
  padding: var(--location-set-setcontainer-padding, 4px);
  overflow-y: scroll;
  scrollbar-color: var(--location-set-scrollbar-color, #747e97) transparent;
  scrollbar-width: thin;
}
