.headerContainer {
    height: var(--header-height);
    box-sizing: border-box;
}

.header {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    align-items: center;
}

.header .navigation {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}