.overlay {
  position: fixed;
  inset: 0;
  z-index: 100;
  background-color: var(--mobile-nav-overlay-background, #000);
  opacity: 0.4;
}

.mobileNavContainer {
  position: fixed;
  top: 0;
  left: -250px;
  z-index: 101;
  width: 250px;
  height: 100vh;
  background-color: var(--mobile-nav-container-background, #fff);
  transition: left 0.3s ease-in-out;
}

.mobileNavContainerOpen {
  left: 0;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
}

.closeButtonIcon {
  color: var(--mobile-nav-close-button-enabled-color, #747e97);
}

.closeButtonIcon:hover {
  color: var(--mobile-nav-close-button-hover-color, #babecb);
}

.closeButtonIcon:active,
.closeButtonIcon:focus {
  color: var(--mobile-nav-close-button-focus-color, #1e222a);
}

.mobileNav {
  padding-top: 150px;
  font-size: var(--header-nav-font-size, 20px);
  font-weight: 600;
  line-height: normal;
  text-align: center;
}
