.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--mobile-nav-overlay-background, #000);
  opacity: 0.4;
  z-index: 100;
}

.mobileNavContainer {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  background-color: var(--mobile-nav-container-background, #fff);
  transition: left 0.3s ease-in-out;
  z-index: 101;
}

.mobileNavContainer__open {
  left: 0;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
}

.closeButton path {
  fill: var(--mobile-nav-close-button-enabled-color, #747e97);
}

.closeButton:hover path {
  fill: var(--mobile-nav-close-button-hover-color, #babecb);
}

.closeButton:active path,
.closeButton:focus path {
  fill: var(--mobile-nav-close-button-focus-color, #1e222a);
}

.mobileNav {
  padding-top: 150px;
  text-align: center;
  font-size: var(--header-nav-font-size, 20px);
  font-weight: 600;
  line-height: normal;
}
