.gridContainer {
    display: grid;
    grid: 1fr / repeat(24, 1fr);
    grid-gap: 24;
    justify-content: stretch;
    align-items: stretch;
    height: calc(100vh - var(--header-height));
}

.mapContainer {
    grid-column: 1 / span 16;
    grid-row: 1 / span 24;
    position: relative;
}

.resultsContainer {
    grid-column: 17 / span 8;
    grid-row: 1 / span 24;
    overflow-y: auto;
    padding: 24;
}

.sidebarResult {
    height: 100%;
    box-sizing: border-box;
}

.mapContainer .searchFormContainerWrapper {
    width: 100%;
    position: absolute;
    top: 24px;
    left: 0;
    pointer-events: none;
}

.mapContainer .searchFormContainerWrapper .searchFormContainer {
    width: 50%;
    max-width: 730px;
    pointer-events: all;
}

.mapContainer .searchFormContainerWrapper .searchFormContainer .textarea {
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.mapContainer .searchFormContainerWrapper .searchFormFooter {
    padding: 0 var(--card-padding-horizontal) var(--card-padding-vertical) var(--card-padding-horizontal);
    box-sizing: border-box;
}

.mapContainer .searchFormContainerWrapper .searchFormHeader {
    padding: var(--card-padding-vertical) var(--card-padding-horizontal) 0 var(--card-padding-horizontal);
}