:root[data-theme='light'] {
  --search-location-form-header-font-color: var(--palette-gray-1, #1e222a)
  --search-location-scrollbar-color: var(--palette-gray-2, #747e97);
}

:root[data-platform='web-desktop'] {
  --search-location-grid-display: flex;
  --search-location-grid-gap: var(--whiteSpace-general-3x, 24px);
  --search-location-grid-container-height: calc(100vh - var(--header-height, 80px));
  --search-locaction-map-height: auto;
  --search-location-flex-direction: row;
  --search-location-map-flex-basis: 60%;
  --search-location-results-flex-basis: 40%;
  --search-location-results-vertical-padding: var(--whiteSpace-general-3x, 24px);
  --search-location-results-horizontal-padding: var(--whiteSpace-general-3x, 24px);
  --search-location-form-top-padding: var(--size-general-8x, 64px);
  --search-location-form-horizonal-padding: var(--size-general-6x, 48px);
  --search-location-form-max-width: 750px;
  --seach-location-form-header-font-size: var(--font-size-xl, 20px);
}

:root[data-platform='web-tablet'] {
  --search-location-grid-display: flex;
  --search-location-grid-gap: var(--whiteSpace-general-3x, 24px);
  --search-location-grid-container-height: calc(100vh - var(--header-height, 80px));
  --search-locaction-map-height: auto;
  --search-location-flex-direction: row;
  --search-location-map-flex-basis: 60%;
  --search-location-results-flex-basis: 40%;
  --search-location-results-vertical-padding: var(--whiteSpace-general-3x, 24px);
  --search-location-results-horizontal-padding: var(--whiteSpace-general-3x, 24px);
  --search-location-form-top-padding: var(--size-general-8x, 64px);
  --search-location-form-horizonal-padding: var(--size-general-6x, 48px);
  --search-location-form-max-width: 750px;
  --seach-location-form-header-font-size: var(--font-size-xl, 20px);
}

:root[data-platform='web-mobile'] {
  --search-location-grid-display: block;
  --search-location-grid-gap: var(--whiteSpace-general-3x, 24px);
  --search-location-grid-container-height: auto;
  --search-locaction-map-height: 75vh;
  --search-location-flex-direction: column;
  --search-location-map-flex-basis: 80%;
  --search-location-results-flex-basis: 20%;
  --search-location-results-vertical-padding: var(--whiteSpace-general-2x, 16px);
  --search-location-results-horizontal-padding: var(--whiteSpace-general-3x, 24px);
  --search-location-form-top-padding: var(--size-general-8x, 64px);
  --search-location-form-horizonal-padding: var(--size-general-2x, 16px);
  --search-location-form-max-width: 600px;
  --seach-location-form-header-font-size: var(--font-size-xl, 20px);
}

@media (max-width: 405px) { /* special variable for ultra small displays */
:root[data-platform='web-mobile'] {
  --seach-location-form-header-font-size: var(--font-size-l, 16px);
}
}