.gridContainer {
  display: var(--search-location-grid-display, flex);
  flex-direction: var(--search-location-flex-direction, row);
  align-items: stretch;
  justify-content: stretch;
  height: var(--search-location-grid-container-height, calc(100vh - 80px));
}

.mapContainer {
  position: relative;
  flex-basis: var(--search-location-map-flex-basis, 60%);
  height: var(--search-locaction-map-height, calc(100vh - 80px));
}

.mapContainer.fullwidth {
  flex-basis: 100%;
}

.resultsContainer {
  flex-basis: var(--search-location-results-flex-basis, 40%);
  padding: var(--search-location-results-vertical-padding, 24px)
    var(--search-location-results-horizontal-padding, 0);
  overflow-y: auto;
  scrollbar-color: var(--search-location-scrollbar-color, #747e97) transparent;
  scrollbar-width: thin;
}

.mapContainer .searchFormContainerWrapper {
  position: absolute;
  top: var(--search-location-form-top-padding, 64px);
  left: 0;
  width: 100%;
  pointer-events: none;
}

.mapContainer .searchFormContainerWrapper .searchFormContainer {
  width: 100%;
  max-width: var(--search-location-form-max-width, 750px);
  padding: 0 var(--search-location-form-horizonal-padding, 48px);
  pointer-events: all;
}

.mapContainer .searchFormContainerWrapper .searchFormContainer .textarea {
  padding-top: 0;
  padding-bottom: 0;
  border: 0;
}

.mapContainer .searchFormContainerWrapper .searchFormFooter {
  box-sizing: border-box;
  padding: 0 var(--card-padding-horizontal, 16px)
    var(--card-padding-vertical, 16px) var(--card-padding-horizontal, 16px);
}

.mapContainer .searchFormContainerWrapper .searchFormHeader {
  padding: var(--card-padding-vertical, 16px)
    var(--card-padding-horizontal, 16px) 0 var(--card-padding-horizontal, 16px);
  font-size: var(--seach-location-form-header-font-size, 20px);
  font-weight: 500;
  line-height: normal;
  color: var(--search-location-form-header-font-color, #1e222a);
}
