:root[data-theme='light'] {
  --page-heading-font-color: var(--palette-gray-1, #1e222a);
}

:root[data-platform='web-desktop'] {
  --page-container-padding: 0;
  --page-container-padding-bottom: 0;
  --page-max-width: 1200px;
  --page-heading-font-size: var(--font-size-3xl, 28px);
}

:root[data-platform='web-tablet'] {
  --page-container-padding: var(--whiteSpace-general-3x, 24px);
  --page-container-padding-bottom: 0;
  --page-max-width: 100%;
  --page-heading-font-size: var(--font-size-3xl, 28px);
}

:root[data-platform='web-mobile'] {
  --page-container-padding: var(--whiteSpace-general-2x, 16px);
  --page-container-padding-bottom: 1rem;
  --page-max-width: 100%;
  --page-heading-font-size: var(--font-size-xl, 20px);
}
